<ion-content class="ion-padding">
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input required type="text" name="usrname" [(ngModel)]="user.userName" autocomplete="off"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input required type="password" name="pass" [(ngModel)]="user.password" autocomplete="off"></ion-input>
    </ion-item>
    <ion-button shape="round"
      expand="full"
      size="medium"
      fill="outline"
      type="submit" [disabled]="form.invalid" class="ion-margin-top">
      Cambiar Contraseña
    </ion-button>
  </form>
</ion-content>
